* {
	margin: 0;
	padding: 0;
}
body {
  font: 20px monospace, sans-serif;
  line-height: 1.8;
  background-image: url("alchemy.gif");
  background-repeat: repeat;
}

.info-card {
	margin: 1em;
	padding: 1em;
	background-color: white;
}

.photo-card {
	margin-top: 2em;

}

.point {
	padding-top: 2%;
	padding-bottom: 2%;
}
