* {
	margin: 0;
	padding: 0;
}
body {
  font: 20px 'Montserrat', sans-serif;
  line-height: 1.8;
  /*background-image: url("alchemy.gif");*/
  background-repeat: repeat;
}

hr {
    display: block; 
    height: 1cm;
    border: 0; 
    border-top: 1px solid #000080;
    thickness: 1cm;
    margin: 1em 0; 
    padding: 0; 
}

.info-card {
	margin: 1em;
	padding: 0;
	background-color: white;
}

.photo-card {
	margin-top: 2em;

}

.point {
	padding-top: 2%;
	padding-bottom: 2%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.code-block {
  text-align: center;
  background-color: #161616;
  color: #A08563;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.code-block-left {
  text-align: left;
  padding: 1cm;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #161616;
  color: #A08563;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.code-function-name {
  color: red;
}
.code-variable-name {
  color: green;
}
.code-comment-name {
  color: gray;
}

.quiz-answer {
  background-color: #FAE8E0;
  padding: 0.1em;
  border-radius: 0.7em;
}